@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  color: white;
  font-family: "Open Sans";
  background: #020a18;
  font-weight: 600;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
}

.header {
  margin-bottom: 160px;
}

.navigation {
  padding: 39px 0;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.navigation__link {
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.main {
  /* margin-bottom: 197px; */
}

.content {
  display: flex;
  gap: 109px;
  justify-content: center;
  align-items: center;
  margin-bottom: 197px;
}

.content_left-side {
  max-width: 604px;
}

.content_left-side h2 {
  color: #3a68b8;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content_left-side h1 {
  max-width: 604px;
  font-size: 55px;
  font-weight: 800;
  line-height: 130%; /* 71.5px */
  margin-bottom: 40px;
}

.content_left-side p {
  max-width: 558px;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
  opacity: 0.7;
  margin-bottom: 50px;
}

.content__btn-list {
  display: flex;
  gap: 20px;
}

.btn {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  border-radius: 5px;
  background: #3a68b8;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.btn__play {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 99px;
}

.content2 {
  margin-top: 157px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 264px;
}

.about4 {
  min-width: 594px;
}

.content2__right-side {
  width: 484px;
}

.content2__right-side h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%; /* 52px */
  margin-bottom: 30px;
}

.content2__right-side p {
  width: 460px;
  font-size: 16px;
  line-height: 160%; /* 25.6px */
  opacity: 0.7;
  margin-bottom: 50px;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 243px;
}

.card {
  border-radius: 10px;
  background: #132035;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 125%; /* 31.25px */
  opacity: 0.7;
}

.card p {
  font-size: 16px;
  line-height: 160%; /* 25.6px */
  opacity: 0.7;
}

.card-big {
  grid-column: span 2;
  grid-row: span 2;
  gap: 60px;
}

.footer {
  /* margin-bottom: 99px; */
}

@media (max-width: 1146px) and (min-width: 848px) {
  .container {
    max-width: 768px;
  }

  .content_left-side h2 {
    font-size: 16px;
  }

  .content_left-side h1 {
    font-size: 48px;
  }

  .content {
    flex-direction: column;
    gap: 128px;
    align-items: center;
  }

  .logos {
    max-width: 534px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 120px;
  }

  .content2 {
    flex-direction: column;
    gap: 68px;
  }

  .card-list {
    grid-template-columns: 1fr;
    gap: 32px;
    justify-items: center;
  }

  .card {
    background: #101725;
    max-width: 362px;
  }

  .hidden {
    display: none;
  }
}
